

<div class="navbar bg-info text-light">
    
        <h1 ><a href="/todo" class="nav-link ">Mero Task</a></h1>
</div>

<div class = "container">

    <%= link_to "Add Your Daily Task",new_todo_path, :class => "btn btn-outline-success my-4 w-100"  %>

    <table class = "table border table-hover shadow table-striped text-center">
        <tr>
            <th>Created At</th>
            <th>Task</th>
            <th>Status</th>
            <th>Option</th>
        </tr>

          <% @todo.each do |f| %>
            <tr>

                
                <td><%=f.created_at%></td>
                <td > <%=f.description%> </td>
                <td>Completed</td>
                <td> 
                    <%=link_to "",todo_path(f.id), :class =>"btn btn-outline-secondary fa fa-eye tooltips","data-toggle" =>"tooltip", "data-placement" =>"top", 'title' => "view"%>
                    <%=link_to "", edit_todo_path(f.id), :class =>"btn btn-outline-info fa fa-edit tooltips","data-toggle" =>"tooltip", "data-placement" =>"top", 'title' => "edit"%>
                    <%=link_to "", todo_path(f.id), method: :delete, data:{confirm: 'Are you sure ?'}, :class =>"btn btn-outline-danger fa fa-trash-alt tooltips","data-toggle" =>"tooltip", "data-placement" =>"top", 'title' => "delete"%>
                </td>


            </tr>
        <% end %>

    </table>
        


    
</div>

<div class = "fixed-bottom d-flex justify-content-center text-light bg-dark">Developed by &copy; Mukesh Mahara</div>