<div class="navbar bg-dark text-light">
    <ul>
        <li class="nav-link">name</li>
    </ul>
</div>

<div class = "container">

    <%= link_to "Create",new_todo_path, :class => "btn btn-outline-success my-4"  %>

    <table class = "table border table-hover shadow table-striped">
        <tr>
            <th>S.N</th>
            <th>Task</th>
            <th>Status</th>
            <th>Option</th>
        </tr>
            <%count = 0%>
          <% @todo.each do |f| %>
            <tr>
                
                <td><%=f.id%></td>
                <td> <%=f.description%> </td>
                <td></td>
                <td>    
                    <%=link_to "View",todo_path(f.id), :class =>"btn btn-outline-primary"%>
                    <%=link_to "Edit", edit_todo_path(f.id), :class =>"btn btn-outline-info"%>
                    <%=link_to "X", todo_path(f.id), method: :delete, data:{confirm: 'Are you sure ?'}, :class =>"btn btn-outline-danger"%>
                </td>
                
            </tr>
        <% end %>
    </table>
        


    
</div>